/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(255, 255, 255);  
    
    color: #000000;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    
}

.smalltext {
    font-size: 14px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #afb4af;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #979b97;
}

nav li a.active {
    background-color: #afb4af;
}
img {
  width: 200px;
  height: 200px;
  padding: 0px;
}

#swinkel {
  margin: 0px;
  padding: 0px;
}

.beneden {
  margin-top: 300px;
}